/**
* Purpose: Main Queries File
* Author: Itamar Rosenblum
* Date: 09-01-2021
* Last modified: 08-02-2021
*/

@media only screen and (max-width: 1100px) {
    thead th,
    td {
        font-size: 75%;
        text-align: center;
    }

    td { padding: 5px 0; }

    tbody td img { width: 80px; }
}

@media only screen and (max-width: 914px) {
    thead th { padding: 0 0px 10px; }

    thead th,
    td:nth-child(4),
    td:nth-child(5),
    td:nth-child(6),
    td:nth-child(7)
    { font-size: 65%; }

    tbody td img { width: 60px; }
}

@media only screen and (max-width: 600px) {
    section { padding: 0 10px;}
    
    thead th { text-align: center; }

    tbody td { padding: 10px 0px; }

    thead th:nth-child(5),
    thead th:nth-child(6),
    tbody td:nth-child(5),
    tbody td:nth-child(6) { display: none; }
}